commit.time
commit.default
target.mk
.*.sw*

allsteps.mk
files
*.step.mk

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
